<div id="name">
<noscript>Please enable JavaScript to use the Simple Image Crop plugin.</noscript>
<div id="crop_container" class="hidden">
    <div id="crop_box">
        <div id="resize_icon"></div>
    </div>
    <div id="crop_message">Leave this text here</div>
    <img id="image_to_crop" src="../img/slika.jpg" alt="">
    <div id="crop_button">
        <img src="../img/cut_icon.png" alt="Crop">
    </div>
</div>
 
<!-- div below can be put apart from the crop container -->
<div id="crop_preview" class="hidden">
    <div id="preview_message">Preview</div>
    <img id="image_preview" alt="Crop Preview">  
</div>
</div>